{% extends 'base.html' %}

{% block content %}

<div class="row no-gutters">
    <div class="col-md-11">
        <h2>Invoice Edit</h2>
    </div>
    <div class="col-md-1 text-right">
        <h2><a class="btn btn-success" role="button" href="{{ url_for('timesheet_entry',invoice_id=invoice._id) }}">Add time</a></h2>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-md-1 alert-primary">{{ invoice.date.strftime('%m/%d/%Y') }}</div>
    <div class="col-md-4 alert-primary">Invoice: {{ invoice._id }}</div>
    <div class="col-md-4 alert-primary">Status: {{ invoice.status }}</div>
    <div class="col-md-2 alert-primary text-right">Amount: ${{ invoice.amount }}</div>
    <div class="col-md-1 alert-primary text-right">Hours: {{ invoice.hours }}</div>
</div>

{% for ts in invoice.detail %}
<div class="row no-gutters">
    <div class="col-md-1 text-left">
        {{ ts.date|oconv_date }}
    </div>
    <div class="col-md-10 text-left">
        <a href="{{ url_for('timesheet_edit',inv_id=invoice._id,tsid=ts._id) }}">{{ ts.description }}</a>
    </div>
    <div class="col-md-1 text-right">
        {{ ts.hours}}
    </div>
</div>
{% endfor %}

<div class="row no-gutters mt-2 text-right"></div>
    <a class="btn btn-primary" role="button" href="{{ url_for('invoice_list')}}">Return to list</a>
{% if invoice.status == 'open' %}
    <a class="btn btn-warning" role="button" href="{{ url_for('invoice_post', invoice_id=invoice._id)}}">Mark as posted</a>
{% elif invoice.status =='posted' %}
    <a class="btn btn-success" role="button" href="{{ url_for('invoice_close', invoice_id=invoice._id)}}">Close this invoice</a>
{% else %}
    <a class="btn btn-info" role="button" href="{{ url_for('invoice_open', invoice_id=invoice._id)}}">Reopen this invoice</a>
{% endif %}
</div>

{% endblock %}