{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters mb-2">
    <div class="col-md-8">
        <h2>Invoice Listing</h2>
    </div>
    <div class="col-md-4 text-right">
        <form action={{ url_for('invoice_create')}} method="GET">
            <button type="submit" class="btn btn-lg btn-primary">New Invoice</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-1 font-weight-bold">Invoice#</div>
    <div class="col-md-1 font-weight-bold">Date</div>
    <div class="col-md-1 font-weight-bold">Client</div>
    <div class="col-md-1 font-weight-bold text-right">Hours</div>
    <div class="col-md-1 font-weight-bold text-right">Amount</div>
    <div class="col-md-1 font-weight-bold">Status</div>
    <div class="col-md-1 font-weight-bold">Sent</div>
    <div class="col-md-1 font-weight-bold">Check#</div>
    <div class="col-md-2 font-weight-bold">Date Paid</div>
</div>
{% for item in items %}
<div class="row">
    <div class="col-md-1">
        {{ item._id }}
    </div>
    <div class="col-md-1">
        {% if item.close_date %}
            {{ item.close_date.strftime('%m/%d/%Y') }}
        {% else %}
            {{ item.date.strftime('%m/%d/%Y') }}
        {% endif %}
    </div>
    <div class="col-md-1">
        {{ '%2d'|format(item.client) }}
    </div>
    <div class="col-md-1 number">
        {{ item.hours }}
    </div>
    <div class="col-md-1 number">
        {{ '%5.2f'|format(item.amount) }}
    </div>
    <div class="col-md-1">
        {{ item.status }}
    </div>
    <div class="col-md-1">
        {{ item.sent }}
    </div>    
    <div class="col-md-1">
        {{ item.check_number }}
    </div>
    <div class="col-md-1">
        {% if item.paid_date %}
            {{ item.paid_date.strftime('%m/%d/%Y') }}
        {% endif %}
    </div>
    <div class="col-md-1">
        <a href="{{ url_for('invoice_edit',invoice_id=item._id) }}">Edit</a>
    </div>
    <div class="col-md-1">
        <a href="{{ url_for('invoice_view',invoice_id=item._id,action='view') }}">View</a>
    </div>
    <div class="col-md-1">
        <a href="{{ url_for('invoice_view',invoice_id=item._id,action='print') }}">Print</a>
    </div>      
</div>
{% endfor %}
{% endblock %}