{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters">
    <div class="col-md-11">
        <h2>Invoice Posting</h2>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-md-10 alert-primary">Invoice: {{ invoice._id }}</div>
    <div class="col-md-2 alert-primary text-right">Hours: {{ '%2.2f'|format(invoice.hours) }}</div>
</div>

<form action="{{ url_for('invoice_post',invoice_id=invoice._id) }}" method="POST">

    <div class="row mt-3">
        <div class="col-md-2">Received date:</div>
        <div class="col-md-2">
            <input type="text" size="10" id="datepicker" name="date" {% if invoice.paid_date %} value="{{ invoice.paid_date.strftime('%m/%d/%Y') }}"
                {% endif %}>
        </div>
        <div class="col-md-1">Check #:</div>
        <div class="col-md-3"><input type="text" name="check_number" value="{{ invoice.check_number }}"></div>
        <div class="col-md-1">Amount:</div>
        <div class="col-md-2">{{ '%5.2f'|format(invoice.amount) }}</div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <button type="submit" name="ok" class="btn-primary pt-1 pb-1 pl-4 pr-4">OK</button>
            <button type="submit" name="cancel" class="btn-primary ml-2 pt-1 pb-1 pl-4 pr-4">Cancel</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            {% include '_flashmessages.html' %}
        </div>
    </div>

</form>

{% endblock %}