<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .padded {
            padding-left: 1em;
            padding-right: 1em;
        }

        .header {
            background: lightgreen;
            margin-bottom: 1em;
            border-bottom: thin solid black;
        }
    </style>
</head>

<body>
    
    <div {% if action=='view' %} style="width: 8.5in; margin-left: 4em;" {% endif %}>
        <div class="header">
            <table>
                <tr>
                    <td style=" width: 95%;">
                        <h1 class="pt-2 pr-2 pb-2 pl-2">Invoice</h2>
                    </td>
                    <td class="text-right pr-2">{{ date }}</td>
                </tr>
            </table>
        </div>

        <table>
            <tr>
                <td style="width: 90%;">
                    <table class="pl-2">
                        <tr>
                            <td>{{ company.attn }}</td>
                        </tr>                        
                        <tr>
                            <td>{{ company.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ company.address1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ company.city }}, {{ company.state }} {{ company.zip }}</td>
                        </tr>
                        <tr>
                            <td>{{ company.email }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <img id="image" src={% include 'computer-base64.txt' %} />
                </td>
            </tr>
        </table>

        <div style="width: 100%; height: 2em;" class="header">
        </div>

        <table style="width: 100%;"">
            <tr>
                <td style=" width: 55%;">
            <table>
                <tr>
                    <td class="pr-3">
                        Bill to:
                    </td>
                    <td>{{ client.name }}</td>
                </tr>
                <tr>
                    <td class="pr-3">Address</td>
                    <td>{{ client.address1 }}</td>
                </tr>
                {% if client.address2 != "" %}
                <tr>
                    <td class="pr-3"></td>
                    <td>{{ client.address2 }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="pr-3"></td>
                    <td>{{ client.city }}, {{ client.state }} {{ client.zip }}</td>
                </tr>
                <tr>
                    <td class="pr-3">Attn:</td>
                    <td class="pr-3">{{ client.attn }}</td>
                </tr>
            </table>
            </td>
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td class="pr-3">Invoice #</td>
                        <td class="text-right pr-2">{{ invoice._id }}</td>
                    </tr>
                    <tr>
                        <td class="pr-3">Invoice date</td>
                        {% if invoice.close_date %}
                            <td class="text-right pr-2">{{ invoice.close_date.strftime('%m/%d/%Y') }}</td>
                        {% else %}
                            <td class="text-right pr-2">{{ invoice.date.strftime('%m/%d/%Y') }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="pr-3">Period</td>
                        {% if invoice.close_date %}
                            <td class="text-right pr-2">{{ invoice.date.strftime('%m/%d/%Y') }} 
                                to {{ invoice.close_date.strftime('%m/%d/%Y') }}</td>
                        {% else %}
                        <td class="text-right pr-2">{{ invoice.date.strftime('%m/%d/%Y') }} 
                            to ---                                
                        {% endif %}
                    </tr>
                </table>
            </td>
            </tr>
        </table>

        <div>

        </div>

        <div style="width: 100%; height: 2em;" class="header"></div>

        <table style="width: 99%;">
            {% for ts in invoice.detail %}
            <tr>
                <td>{{ ts.date|oconv_date }}</td>
                <td class="padded">{{ ts.description }}</td>
                <td class="text-right">{{ ts.hours }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" style="text-align: right;border-top: thin solid black; padding-right: 2em;">Total hours</td>
                <td style="text-align: right; border-top: thin solid black;">{{ '%3.2f'|format(invoice.hours) }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-right: 2em;">Rate</td>
                <td style="text-align: right;">{{ '$%5.2f'|format(invoice.rate) }}</td>
            </tr>        
            <tr>
                <td colspan="2" style="text-align: right; padding-right: 2em;">Invoice Total</td>
                <td style="text-align: right;">{{ '$%5.2f'|format(invoice.amount) }}</td>
            </tr>                
        </table>
        {% if action == 'view' %}
        <div class="mt-2 text-right">
            {% include '_flashmessages.html' %}
            {% if invoice.status == 'closed' %}
                <a class="btn btn-success" role="button" href="{{ url_for('invoice_view',invoice_id=invoice._id,action='print') }}">Print</a>
            {% endif %}
            <a class="btn btn-primary" role="button" href="{{url_for('invoice_list')}}">Back to listing</a>
        </div>
        {% endif %}
    </div>
</body>

</html>