{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters">
    <div class="col-md-11">
        <h2>{{ headline }}</h2>
    </div>
</div>

<form action="{{ url_for('client_edit',client_id=client._id) }}" method="POST">
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="id" value="{{ client._id }}">

    {% from "_formhelpers.html" import state_selector %}

    <div class="container-fluid">
        <div class="row no-gutters mb-2">
            <div class="col-md-2">Client name</div>
            <div class="col-md-10">
                <input type="text" name="name" value="{{ client.name }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Address 1</div>
            <div class="col-md-10">
                <input type="text" name="address1" value="{{ client.address1 }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Address 2</div>
            <div class="col-md-5">
                <input type="text" name="address2" value="{{ client.address2 }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">City</div>
            <div class="col-md-3">
                <input type="text" name="city" value="{{ client.city }}" style="width: 100%;">
            </div>
            <div class="col-md-1 mr-2 text-right">State</div>
            <div class="col-md-3">
                {{ state_selector(states, client.state) }}
            </div>
            <div class="col-md-1 text-right mr-2">Zip</div>
            <div class="col-md-1">
                <input type="text" name="zip_code" value="{{ client.zip }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Phone</div>
            <div class="col-md-3">
                <input type="text" name="phone" value="{{ client.phone }}" style="width: 100%;">
            </div>
            <div class="col-md-2 text-right mr-2">Fax</div>
            <div class="col-md-3">
                <input type="text" name="fax" value="{{ client.fax }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Attention</div>
            <div class="col-md-5">
                <input type="text" name="attn" value="{{ client.attn }}" style="width: 100%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Email</div>
            <div class="col-md-4">
                <input type="text" name="email" value="{{ client.email }}" style="width: 100%;">
            </div>
            <div class="col-md-2 pl-2">Invoice prefix</div>
            <div class="col-md-1">
                <input type="text" name="prefix" value="{{ client.prefix }}" style="width: 50%;">
            </div>            
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Rate</div>
            <div class="col-md-5">
                <select name="rate">
                    {% for k,v in rates.items() %}
                        {% if client.rate == k %}
                        <option value={{ k }} selected="selected">{{ '%2.2f'|format(v) }}</option>
                        {% else %}
                        <option value={{ k }}>{{ '%2.2f'|format(v) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Timesheet Form</div>
            <div class="col-md-6">
                <input type="text" name="timesheet_form" value="{{ client.timesheet_form }}" style="width: 50%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Customer</div>
            <div class="col-md-6">
                <input type="text" name="customer" value="{{ client.customer }}" style="width: 50%;">
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-md-2">Project</div>
            <div class="col-md-6">
                <input type="text" name="project" value="{{ client.project }}" style="width: 50%;">
            </div>
        </div>

        <div class="row no-gutters mt-2">
            <div class="col-md-12 text-right">
                {% if action == 'edit' %}
                <button type="submit" name="delete" class="btn-danger btn-lg mr-2">Delete</button>
                {% endif %}
                <button type="submit" name="cancel" class="btn-secondary btn-lg mr-2">Cancel</button>
                <button type="submit" name="submit" class="btn-success btn-lg">Submit</button>
            </div>
        </div>

    </div>

</form>

{% endblock %}