.textBox {
    width: 100%;
    padding: 0;
    margin-top: .25em;
}

.number {
    text-align: right;
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active {
    color: black;
    text-decoration: none;
    background: transparent;
}