<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- local styles -->
    <link href="/static/styles.css" rel="stylesheet">

    <!-- jQuery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- popper -->
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>

    <!-- javascript for Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $( '#datepicker' ).datepicker();
            $( "#menu" ).menu();
        });
    </script>
    
</head>

<body>
    <div class="container">
        <div class="shadow mb-3 mt-2 alert-primary p-3">
            <h1>Contractor</h1>
            {% include 'menu.html' %}    
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>