<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- local styles -->
    <link href="/static/styles.css" rel="stylesheet">

    <!-- jQuery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- popper -->
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>

    <!-- javascript for Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('#datepicker').datepicker();
            $('#datepicker2').datepicker();
            $("#menu").menu();
        });

        $(document).ready(function(){
            $( '#client_id' ).change(function(){
                var optionText = $("#client_id option:selected").val();
                $("#invoices").empty();
                $.ajax({ 
                    type:'get', 
                    url:'/invoice_list?client_id='+optionText, 
                    cache:false, 
                    async:'asynchronous', 
                    dataType:'json', 
                    success: function(data) { 
                        alert(optionText);
                    }, 
                    error: function(request, status, error) { 
                        console.log("Error: " + error) 
                    } 
                }); 
            });
        });
    </script>

</head>

<body>
    <div class="container">
        <div class="shadow mb-3 mt-2 alert-primary p-3 sticky-top d-md-block">
            <h1><a href="{{ url_for('invoice_list') }}" class="logo">Contractor</h1></a>
            {% include 'menu.html' %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
